// this one just agregates all the libs
@import "compass/css3";
@import "lib/mixins";
@import "lib/animations";
@import "lib/keyframes";
@import "compass/css3/transition";
@import "compass/css3/background-size";

// gradients for ie
$experimental-support-for-svg: true;

// global sprites
$icons: sprite-map("icons/*.png", $spacing: 5px);
// $icons-retina: sprite-map("icons-retina/*.png", $spacing: 5px);

$default-transition-property : all;
$default-transition-duration : 1s;
$default-transition-function : false;
$default-transition-delay    : false;
$futuraRegular:"FuturaDemiCRegular", Arial, sans-serif;